*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    background: url(img/2b-sword-flowers-nier-automata-moewalls-com\ -\ frame\ at\ 0m3s.jpg);
    background-size: cover; /*Ajusta a imagem ao tamho da tela*/
    background-position: center; /*Ajusta a possição da imagem*/

}
.login{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);/* Cria blur no quadrado*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px; /* move o texto digitado dentro da caixa*/
}

.login h1{
    font-size: 36px;
    text-align: center;
}

.login .caixa-ns{
    width: 100%;
    height:  50px;;
    margin: 30px 0;
    position: relative;
}

.caixa-ns input{ /* Altera somente a caixa de texto*/
    width: 100%;
    height:  100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px; 
}

.caixa-ns input::placeholder{ /* altera o placeholder*/
    color: #fff;
}
.caixa-ns i { /* altera os Icones*/
    position: absolute;
    right: 20px;
    top: 50% ;
    transform: translateY(-50%);
    font-size: 20px;
}
.login .lembrar{
    display: flex;
    justify-content: space-between;/*Separa a frase*/
    font-size: 14.5px;
    margin: -15px 0 15px; /* move com base da distancia da margem*/
}

.lembrar label input{
    accent-color: #fff;
    margin-right: 3px;
}

.lembrar a{
    color: #fff;
    text-decoration: none;
}

.lembrar a:hover{
    text-decoration: underline ;
}

.login .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: 333;
    font-weight: 600;
}

.login .registrar{
    font-size: 14.5;
    text-align: center;
    margin: 20px 0 15px;
}

.registrar p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registrar p a:hover{
    text-decoration: underline;
}


